body{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
text-align: center;
font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1{
    color: white;
}
h2{
    color: blue;
}
img{
    height:200px ;
}